.goods
    position relative
    padding-top 118px
    padding-left 361px
    padding-right 210px
    
    &::before
        z-index 0
        content ''
        position absolute
        left 0
        top 0
        display block
        max-width 1387px
        width ( 1387 / 1920 ) * 100%
        height 100%
        background-color #fff
        box-sizing border-box
        
        @media (max-width 1400px)
            max-width 1147px
            width ( 1147 / 1400 ) * 100%
    
        @media (max-width 1024px)
            max-width 922px
            width ( 922 / 1024 ) * 100%
    
        @media (max-width 768px)
            max-width none
            width 100%
            
    &::after
        z-index 1
        content normal
        position absolute
        left 0
        bottom 88px
        display block
        width 162px
        height 4px
        background-color #d9c5b3
    
        @media (max-width 1024px)
            content ''
    
        @media (max-width 768px)
            bottom 107px
            width 279px
    
        @media (max-width 540px)
            width 100%
            
            
    @media (max-width 1400px)
        padding-top 80px
        padding-left 150px
        padding-right 120px
    
    @media (max-width 1280px)
        padding-top 70px
        padding-left 131px
        padding-right 30px
    
    @media (max-width 1024px)
        padding-left 80px
        padding-top 63px
    
    @media (max-width 768px)
        padding-left 0
        padding-right 0
        
    &__link-wrapper
        position relative
        padding-top 4px
        padding-bottom 67px
        padding-right 97px
        width 1027px
        
        @media (max-width 1400px)
            width  (999 / 1400) * 100%
            padding-top 14px
            padding-bottom 56px
            padding-right 116px
    
        @media (max-width 1280px)
            padding-top 10px
            padding-bottom 47px
            padding-right 167px
    
        @media (max-width 1024px)
            width (842 / 1024) * 100%
            padding-top 54px
            padding-bottom 35px
            
        @media (max-width 768px)
            width 100%
            padding-top 112px
            padding-bottom 45px
            padding-left 29px
            padding-right 0
            
        @media (max-width 540px)
            padding-left 0
            padding-top 47px
            padding-bottom 38px
            
        @media (max-width 320px)
            padding-top 19px
            padding-bottom 39px
        
    &__link
        display flex
        align-items center
        justify-content flex-end
        font-size 15px
        font-weight 600
        line-height 20px
        letter-spacing .75px
        text-transform uppercase
        color #34312d
    
        @media (max-width 1400px)
            letter-spacing 0
    
        @media (max-width 1024px)
            justify-content flex-start
            font-size 13px
            letter-spacing .65px
    
        @media (max-width 540px)
            justify-content center
            
        @media (max-width 320px)
            
            span > span
                display none
        
        &-ico
            width 25px
            height 20px
            margin-left 30px
    
            @media (max-width 1400px)
                margin-left 23px
    
            @media (max-width 1024px)
                width 22px
                height 17px
                margin-left 13px
    
    &__item
        z-index 1
        position relative
        height 100vh
        
        &:not(:last-of-type)
            padding-bottom 120px
    
            @media (max-width 1400px)
                padding-bottom 80px
    
            @media (max-width 1280px)
                padding-bottom 70px
    
            @media (max-width 1024px)
                padding-bottom 60px
    
            @media (max-width 768px)
                padding-bottom 112px
    
            @media (max-width 540px)
                padding-bottom 46px
            
        &:last-of-type
    
            @media (max-width 768px)
                padding-bottom 112px
    
            @media (max-width 540px)
                padding-bottom 46px
            
            .good__image
                height calc(100vh - 60px)
    
                @media (max-width 1400px)
                    height calc(100vh - 40px)
    
                @media (max-width 1280px)
                    height calc(100vh - 35px)
    
                @media (max-width 1024px)
                    height calc(100vh - 30px)
    
                @media (max-width 768px)
                    height auto
                    
        @media (max-width 768px)
            height auto