<div class="goods hash-block" id="goods">
    <div class="goods__list">
        @@include('../good/good.html', { "class": "goods__item"})
        @@include('../good/good.html', { "class": "goods__item"})
        @@include('../good/good.html', { "class": "goods__item"})
        @@include('../good/good.html', { "class": "goods__item"})
        @@include('../good/good.html', { "class": "goods__item"})
    </div>
    <div class="goods__link-wrapper">
        <a href="javascript:void(0)" class="goods__link">
            <span><span>Посмотреть</span> весь каталог производителя</span>
            <svg class="goods__link-ico"   viewbox="0 0 25 20"
                 xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink">
                <path fill-rule="evenodd"  fill="rgb(160, 159, 159)"
                      d="M24.765,9.851 L15.203,19.361 L13.806,17.969 L20.997,10.822 L0.732,10.822 L0.732,8.861 L20.977,8.861 L13.806,1.714 L15.203,0.322 L24.765,9.851 Z"/>
            </svg>
        </a>
    </div>
</div>