.button
    display inline-block
    padding 17px 32px
    min-width: 150px
    font-weight 600
    font-size 11px
    line-height 15px
    text-transform uppercase
    letter-spacing 2px
    text-align center
    color #fff
    outline none
    border none
    background-color #34312d
    cursor pointer
    transition all 250ms ease
    
    &:hover
        color #d9c5b3
        background-color #14110f
    
    &_light
        font-weight 700
        color #14110f
        background-color #d9c5b3
        
        &:hover
            color #14110f
            background-color #c7c8ca
            
        &.button_alternative
            color #fff
            background-color #515052
            
            &:hover
                color #14110f
                background-color #c7c8ca
            
    &_alternative
        color #14110f
        background-color #d9c5b3
        
        &:hover
            color #14110f
            background-color #f3f3f4