.company
    display flex
    height calc(100vh - 194px)
    
    @media (max-width 1400px)
        height calc(100vh - 147px)
    
    @media (max-width 1280px)
        height calc(100vh - 91px)
    
    @media (max-width 1024px)
        height auto
    
    @media (max-width 768px)
        flex-direction column
        
    &__data
        z-index 1
        position relative
        width 633px
        flex-shrink 0
        order 1
    
        @media (max-width 1400px)
            width 453px
    
        @media (max-width 1280px)
            width 514px
    
        @media (max-width 1024px)
            width 406px
            padding-bottom 77px
    
        @media (max-width 768px)
            width 100%
            flex-shrink 1
            padding-bottom 60px
            order 2
    
        @media (max-width 540px)
            padding-bottom 54px
            
        &::before
            content ''
            position absolute
            left (139 / 633) * 100%
            bottom 0
            display block
            width 4px
            height 42%
            background-color #d9c5b3
    
            @media (max-width 1400px)
                left (100 / 453) * 100%
    
            @media (max-width 1280px)
                left (93 / 514) * 100%
                height 51.3%
    
            @media (max-width 1024px)
                left (76 / 406) * 100%
                height 50%
    
            @media (max-width 768px)
                left 11.5%
                height 66%
    
            @media (max-width 540px)
                content normal
        
    &__wrapper
        padding-left 147px
        width 134.5%
    
        @media (max-width 1400px)
            padding-left 106px
            width 155%
    
        @media (max-width 1280px)
            padding-left 128px
    
        @media (max-width 1024px)
            width 165%
            padding-left 106px
    
        @media (max-width 768px)
            width auto
            padding-left 141px
    
        @media (max-width 540px)
            padding-left 0
            margin-top 10px
            
    &__buttons
        display inline-flex
        margin-top 40px
    
        @media (max-width 1400px)
            margin-top 30px
    
        @media (max-width 1280px)
            margin-top 21px
    
        @media (max-width 768px)
            display flex
    
        @media (max-width 540px)
            margin-top 6px
            padding-right 40px
            flex-wrap wrap
            justify-content space-between
    
        @media (max-width 320px)
            align-items baseline
            
        .button
    
            @media (max-width 540px)
                width 210px
            
            &:first-of-type
    
                @media (max-width 320px)
                    margin-right 13px
                
            &:last-of-type
                margin-left 21px

                @media (max-width 540px)
                    margin-left 0
                
                @media (max-width 519px)
                    margin-top 13px
                    
    &__good-title
        display inline
        font-size 60px
        line-height 95px
        font-weight 300
        text-transform uppercase
        letter-spacing 8.8px
        color #7e7f83
        background-color #fff
    
        @media (max-width 1400px)
            font-size 52px
            line-height 75px
            letter-spacing 8px
    
        @media (max-width 1280px)
            font-size 48px
            line-height 68px
            letter-spacing 6.8px
    
        @media (max-width 1024px)
            font-size 48px
            line-height 68px
            letter-spacing 7.3px
    
        @media (max-width 768px)
            font-size 37px
            line-height 52px
            letter-spacing 6px
            
        @media (max-width 540px)
            font-size 26px
            line-height 36px
            letter-spacing 3.6px
    
        @media (max-width 320px)
            letter-spacing 3.4px
            
        span
            font-weight 600
            color #14110f
    
    &__logo
        position absolute
        top 25%
        left 50%
        transform translateX(-50%)
    
        @media (max-width 1400px)
            width 269px
            
        @media (max-width 768px)
            left 0
            top -56px
            padding-left 84px
            padding-right 54px
            padding-top 31px
            width 403px
            transform translateX(0)
            background-color #fff
    
        @media (max-width 540px)
            width 287px
            padding-top 15px
            padding-left 60px
            padding-right 16px
    
        @media (max-width 320px)
            width 247px
            padding-left 15px
            padding-right 15px
            
        img
            width 100%
    
            @media (max-width 768px)
                position relative
                width auto
                max-width 266px
    
            @media (max-width 540px)
                max-width 210px
    
            @media (max-width 320px)
                max-width 206px
                
    &__slogan
        position absolute
        left -194px
        bottom 173px
        font-size 30px
        line-height 56px
        font-weight bold
        text-transform uppercase
        letter-spacing 7.2px
        transform rotate(-90deg)
        
        @media (max-width 1400px)
            left -160px
            bottom 135px
            font-size 24px
            letter-spacing 6px
    
        @media (max-width 1280px)
            left -130px
            bottom 99px
            font-size 19px
            letter-spacing 4.5px
    
        @media (max-width 1024px)
            left -94px
            bottom 97px
    
        @media (max-width 768px)
            left -66px
            bottom 79px
            letter-spacing 3.8px
            font-size 16px
            line-height 55px
    
        @media (max-width 540px)
            position relative
            left auto
            bottom auto
            font-size 13px
            letter-spacing 3px
            line-height 56px
            transform rotate(0deg)
            
            &::before
                content ''
                position absolute
                left 0
                bottom 8px
                display block
                width 30px
                height 4px
                background-color #d9c5b3
        
    &__info
        position absolute
        bottom 15%
        left (61 / 633) * 100%
        width 100%
    
        @media (max-width 1024px)
            position relative
            left auto
            bottom auto
            margin-top 242px
            
        @media (max-width 768px)
            margin-top 93px
    
        @media (max-width 540px)
            padding-left 60px
            margin-top 13px
    
        @media (max-width 320px)
            padding-left 15px
            padding-right 15px
        
    &__image
        position relative
        flex-grow 1
        order 2
    
        @media (max-width 1024px)
            order 1
            width 100%
            flex-grow 0
            
        @media (max-width 768px)
            width 100%
        
        img
            position absolute
            width 100%
            height 100%
            object-fit cover
    
            @media (max-width 1024px)
                position static