<div class="company">
    <div class="company__data">
        <div class="company__logo">
            <img src="img/logo-zori.png" alt="">
        </div>
        <div class="company__info">
            <div class="company__slogan">
                Наш эксклюзив!
            </div>
            <div class="company__wrapper">
                <p class="company__good-title"><span>Кирпич</span> ручной формовки</p>
                <div class="company__buttons">
                    @@include('../button/button.html', { "title": "Как купить?", "class": "button_pay"})
                    @@include('../button/button.html', { "title": "Где посмотреть?", "class": "button_light button_map"})
                </div>
            </div>
        </div>
    </div>
    <div class="company__image">
        <picture>
            <img src="img/company.jpg" alt="">
        </picture>
    </div>
</div>