<footer class="footer dark-bg">
    <div class="container footer__container">
        @@include('../logo/logo.html', { "class": "footer__logo", "classHouse": "footer__logo-house", "classBox": "footer__logo-box", "classText": "footer__logo-text", "classRoom": "footer__logo-room"})
        @@include('../soc/soc.html', { "class": "footer__soc"})
        <div class="footer__developer">
            <span class="footer__copyright"> ©2019  Шоу-рум «Идеальный дом»</span>
            <span class="footer__link-developer">Разработка сайта: <a target="_blank" href="http://www.vedita.ru">студия Vedita</a></span>
        </div>
    </div>
</footer>