<div class="soon hash-block" id="soon">
    <picture>
        <img class="soon__image" src="img/soon.jpg" alt="">
    </picture>
    <div class="soon__wrapper">
        <img src="img/gradient.png" alt="" class="soon__gradient">
        <div class="soon__logo-box">
            <div class="soon__circle-one"></div>
            <div class="soon__circle-two"></div>
            <img class="soon__logo" src="img/soon-logo.png" alt="">
        </div>
       <div class="soon__data">
           <p class="soon__title">
               <span>скоро</span> открытие!
           </p>
           <p class="soon__address"> тамбов, Студенецкая 20 </p>
       </div>
    </div>
</div>