<div class="good @@class">
    <div class="good__logo">
        <img src="img/logo-zori.png" alt="">
    </div>
    <div class="good__data">
        <div class="good__info">
            <p class="good__title">Название кирпича</p>
            <table class="good__table">
                <colgroup>
                    <col class="good__table-left">
                    <col class="good__table-right">
                </colgroup>
                <tbody>
                    <tr>
                        <td>Артикул:</td>
                        <td>H009/2</td>
                    </tr>
                    <tr>
                        <td>Тип кирпича:</td>
                        <td>лицевой, фасадный</td>
                    </tr>
                    <tr>
                        <td>Поверхность:</td>
                        <td>Рифлёная</td>
                    </tr>
                    <tr>
                        <td>Цвет:</td>
                        <td>Красный</td>
                    </tr>
                    <tr>
                        <td>Оттенок:</td>
                        <td>Пёстрый</td>
                    </tr>
                    <tr>
                        <td>Размер:</td>
                        <td>250х60х65 мм</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="good__price-box">
            <form action="">
                <div class="good__wrapper-price">
                    <p class="good__price">4471.2 ₽</p>
                    <span class="good__volume">за кв метр</span>
                </div>
                <button class="button button_pay good__pay">Как купить?</button>
            </form>
        </div>
    </div>
    <div class="good__image">
        <picture>
            <img src="img/good.jpg" alt="">
        </picture>
    </div>
</div>