.map
    position relative
    height 500px
    
    @media (max-width 1400px)
        height 480px
        
    @media (max-width 1280px)
        height 500px
    
    @media (max-width 540px)
        height 480px